backend:
  name: github
  repo: konstantinbrazhnik/nextjs-decap # USER MUST UPDATE THIS
  branch: main # Branch to update (optional; defaults to master)
  # CHANGE THIS TO YOUR PRODUCTION KDOMIN WHEN DEPLOYING
  base_url: http://localhost:3000
  auth_endpoint: /api/auth # Cloudflare Function endpoint

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "categories"
    label: "Categories"
    folder: "content/categories"
    create: true
    slug: "{{slug}}"
    identifier_field: title
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Description", name: "description", widget: "text"}

  - name: "posts"
    label: "Posts"
    folder: "content/posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "blog"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Featured Image", name: "thumbnail", widget: "image"}
      - {label: "Category", name: "category", widget: "relation", collection: "categories", search_fields: ["title"], value_field: "title", display_fields: ["title"]}
      - {label: "Body", name: "body", widget: "markdown"}
